# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version

# Virtual environments
env/
venv/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Files to ignore

# Poetry files
poetry.lock

# Git files
.gitignore